if TARGET_MINI2440

config SYS_BOARD
	default "mini2440"

config SYS_VENDOR
	default "Friendly ARM"

config SYS_CONFIG_NAME
	default "mini2440"

config S3C2440
	bool "SAMSUNG S3C2440 SoC"
	default y
endif
